<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset Verification</title>
</head>
<body style="font-family: 'Arial'; background-color: #F9F9F9; margin: 0; padding: 5px;">
<div class="container"
     style="max-width: 600px; background-color: #FFFFFF; margin: 20px auto; border-radius: 10px; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); overflow: hidden;">
    <div class="header"
         style="text-align: center; padding: 10px 0; border-bottom: 1px solid #eee; background: #114bad;">
        <p style="color: white; margin: 10px 0; font-size: 28px; font-weight: 500">Password Reset Verification</p>
    </div>
    <div style="padding: 20px;">
        <div>
            <p style="font-size:14px;color:rgb(34,35,37)">
                <strong>
                    <span>Dear {{{username}}},</span>
                </strong>
            </p>
            <p style="font-size:14px;text-align:left;color:rgb(34,35,37); line-height:1.5">
                We received a request to reset your password. To complete the process, please use the following verification code:
            </p>
            <div style="text-align: center; font-size: 28px;color: #114bad; padding: 10px; background-color: #F8F8F8; max-width: 200px; margin: 25px auto">
                {{{verificationCode}}}
            </div>
        </div>
        <div>
            <p style="font-size:14px;line-height:1.5;text-align:left;color:#000000">
                <strong>Note:</strong> The verification code is valid for 15 minutes
            </p>
        </div>
        <div>
            <p style="font-size:14px;text-align:justify; color:rgb(126,140,141);line-height:1.5">
                If you did not make this request, please disregard this email. Your account remains safe and your
                current password will not be changed.
            </p>
        </div>
    </div>
</div>
<div style="max-width: 550px; margin: 20px auto">
    <img src="https://staging.skarbol.tech/wp-content/uploads/2024/02/main-logo.png" style="height:35px">
    <div>
        <span style="color: rgb(126,140,141); font-size: 12px; line-height: 0">You're receiving this email because you're signed up with Skarbol. We're sending it to make sure we're following our <a href="#" style="text-decoration:none; color: #114bad">Terms of Service</a> and handling any legitimate matters that might come up.</span>
        <p style="color: rgb(126,140,141); font-size: 12px; line-height: 0; margin: 20px auto">© 2024 Skarbol LLC | All rights reserved</p>
    </div>
</div>
</body>
</html>